<!DOCTYPE html>
<html>
<head>
  <title>Secretsanta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li><h1>Secret Santa Generator</h1></li>
    <li><%= link_to "Home", root_path %></li>
  </ul>
</nav>

<%= yield %>

</body>
<footer>
  <div class="footer-info">&copy; Catie Stallings</div>
</footer>
</html>
